{% extends 'base.html' %}


{% block title %}
Оформление заказа
{% endblock %}


{% block content %}
<!-- Main Content -->
<main class="checkout-page-wrapper">
    <div class="checkout-container">
        <h1 class="checkout-title">Order Details</h1>

        <form id="checkout-form" method="post">
            {% csrf_token %}
            <!-- Shipping Information -->
            <section class="checkout-section">
                <h2 class="checkout-section__title">Shipping information</h2>
                <div class="checkout-form-group">
                    <label for="{{ form.full_name.id_for_label }}">Full Name</label>
                    {{ form.full_name }}
                    {{ form.full_name.errors }}
                </div>
                <div class="checkout-form-group">
                    <label for="{{ form.phone_number.id_for_label }}">Phone number</label>
                    {{ form.phone_number }}
                    {{ form.phone_number.errors }}
                </div>
                <div class="checkout-form-group">
                    <label for="{{ form.city.id_for_label }}">City</label>
                    {{ form.city }}
                    {{ form.city.errors }}
                </div>
                <div class="checkout-form-group">
                    <label for="{{ form.address.id_for_label }}">Shipping address</label>
                    {{ form.address }}
                    {{ form.address.errors }}
                </div>
            </section>

            <!-- Payment Method -->
            <section class="checkout-section">
                <h2 class="checkout-section__title">Payment Method</h2>
                <div class="payment-options">
                    {{ form.payment_type }}
                    {{ form.payment_type.errors }}
                </div>
            </section>

            <!-- Order Summary -->
            <section class="checkout-summary">
                <h2 class="checkout-section__title">Order Summary</h2>
                <div class="summary-details">
                    <div class="summary-total">
                        <p>Total</p>
                        <p>{{ cart.get_total_price }}</p>
                    </div>
                    <button type="submit" class="button button--primary button--pay">Pay</button>
                </div>
            </section>
        </form>
    </div>
</main>

{% endblock %}
